.frameButton {
	display: grid;
	align-items: center;

	width: fit-content;
	height: fit-content;
	padding: 16px 35px;

	border-radius: 26px;
	justify-items: center;
	grid-template-columns: auto;
	background: var(--darkGreen);
}

.pendingFrame {
	background: var(--lightGreen);
}

.errorFrame {
	background: var(--lightPrimary);
}

.frameButton > svg {
	fill: var(--green);

	width: 21px;
}

.pendingFrame > svg,
.errorFrame > svg {
	fill: var(--white);
}

@media (max-width: 300px) {
	.frameButton {
		padding: 8.5px 28.5px;
	}
}
