.frensList {
	display: grid;
	align-items: end;
	align-self: start;

	width: 100%;
	margin: 28px 0;
	justify-items: center;
	gap: 10px;
	margin-bottom: 170px;
}

.image {
	width: 65%;
	height: fit-content;

	object-fit: cover;
	margin-bottom: 10px;
}

.noFrensList {
	align-items: end;
	align-self: center;

	margin-bottom: 200px;
}
