.wrapper {
	display: grid;
	align-items: end;

	width: 100%;
	min-height: calc(100vh - 48px);
	padding: 24px 0;
	justify-items: center;
	grid-template-rows: repeat(2, auto) 1fr auto;
	gap: 6px;
}

.frensText {
	width: 85%;

	text-align: center;

	color: var(--darkLight) !important;

	font-family: "Comic Neue", serif !important;
}

.frensButton {
	width: 85% !important;
	margin-bottom: 86px;
}

.verifiedFrens {
	color: var(--lightGreen);
}
