.wrapper {
	display: grid;
	align-items: end;

	width: 100%;
	min-height: calc(100vh - 48px);
	padding: 24px 0;
	justify-items: center;
	grid-template-rows: repeat(3, auto) 1fr auto;
	gap: 6px;
}

.frensText {
	width: 85%;
	margin-bottom: 14px;

	text-align: center;

	color: var(--darkLight) !important;

	font-family: "Comic Neue", serif !important;
}

.frensButton {
	position: fixed;
	z-index: 8;
	bottom: 110px;

	width: 85% !important;
}

.verifiedFrens {
	color: var(--lightGreen);
}
