.borderButton {
	display: grid;
	align-items: center;

	width: fit-content;
	height: fit-content;
	padding: 10px 16px;

	cursor: pointer;
	transition-duration: 300ms;

	border: none;

	border-radius: 9999px;
	outline: 3px solid var(--white);
	outline-offset: -3px;
	justify-items: center;
	grid-template-columns: auto;
	background: none;
}

.borderButton:active,
.borderButton:hover {
	outline-color: var(--lighterPrimary) !important;
}

.text {
	margin-bottom: 2px;

	transition-duration: 300ms;
}

.disabledButton,
.disabledButton:active {
	cursor: default;
	filter: brightness(0.7);

	outline: 3px solid var(--white) !important;
}

.disabledButton > .text,
.disabledButton:active > .text {
	color: var(--white) !important;
}

.borderButton:active > .text,
.borderButton:hover > .text {
	color: var(--lighterPrimary) !important;
}
