.button {
	display: grid;
	align-items: center;

	width: 100%;
	height: fit-content;
	padding: 4px 20px;

	cursor: pointer;
	transition-duration: 300ms;

	border: none;

	border-radius: 26px;
	outline: none;
	background: var(--primary);
	justify-items: center;
	grid-template-columns: auto;
}

.button:active,
.weba:hover {
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

	background: var(--hoverPrimary);
}

.whiteButton {
	background: var(--white);
}

.text {
	margin-bottom: 4px;
}

.whiteButton > .text {
	color: var(--darkText);
}

.crossIcon {
	width: 18px;
	fill: var(--white);
}

.starsText {
	display: grid;
	grid-template-columns: 1fr auto;

	align-items: center;
	gap: 4px;
}

.starsText > svg {
	width: 17px;
	fill: var(--white);

	margin-top: 4px;
	margin-bottom: 2px;
}

.spinner {
	width: 15px;
	height: 15px;
	margin: 0.6px 0;
	margin: 8.1px 0;

	animation: spin 1s linear infinite;

	border: 3px solid transparent;
	border-top: 3px solid var(--white) !important;
	border-radius: 50%;
}

.whiteButton > .spinner {
	border: 3px solid var(--white);
	border-top: 3px solid var(--darkText) !important;
}

@keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}

@media (max-width: 300px) {
	.button {
		padding: 4px 20px;
	}
}
