html,
body {
	margin: 0;
	padding: 0;

	-webkit-user-select: auto;
	-moz-user-select: auto;
	-ms-user-select: auto;
	user-select: auto;

	background: linear-gradient(180deg, var(--black) 0%, var(--dark) 100%) no-repeat;

	font-family: 'Komika Axis', sans-serif;
	-webkit-tap-highlight-color: rgba(255, 255, 255, 0);
	-webkit-tap-highlight-color: transparent;
}

::-moz-focus-outer,
::-moz-focus-inner {
	padding: 0;

	border: 0;
}

a {
	text-decoration: none;
}

@font-face {
	font-family: 'Komika Axis';
	font-weight: 400;
	font-style: normal;
	src: local('Komika Axis'), url('/KOMIKAX.woff') format('woff');
}

.go3974562317 {
	height: 52px !important;
	padding: 4px 20px !important;

	border-radius: 26px !important;
	background-color: var(--primary) !important;
}

.go3162878564 {
	transition: transform 0.3s ease-in-out !important;
}

.go3974562317 > svg {
	display: none !important;
}

.go1651228014 {
	color: var(--white) !important;

	font-family: var(--font-family) !important;
}

.go1487791704 {
	font-family: var(--font-family) !important;
}

.go3974562317:active,
.go3974562317:hover {
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1) !important;

	filter: brightness(0.9) !important;

	transform: scale(1) !important;
}

:root {
	--primary: #EF3C40;
	--lightPrimary: #FF595D;
	--darkPrimary: #DB1D1D;
	--second: #5C78B1;
	--black: #000;
	--dark: #0B152C;
	--darker: #060C18;
	--darkText: #17233D;
	--missedText: #2F446F;
	--modal: #0E1930;
	--mainModalShadow: #1F3055;
	--white: #FFF;
	--light: #DDD;
	--darkLight: #A9A9A9;
	--lightGreen: #3AB06A;
	--green: #11773A;
	--darkGreen: #0E3029;
	--yellow: #F6C42F;
	--error: #FF1500;
	--banana: #FFC803;
	--font-family: 'Komika Axis', sans-serif;
}
