html,
body {
	margin: 0;
	padding: 0;

	-webkit-user-select: auto;
	-moz-user-select: auto;
	-ms-user-select: auto;
	user-select: auto;

	background: linear-gradient(180deg, var(--black) 0%, var(--dark) 100%);

	font-family: 'komika-axis', sans-serif;
	-webkit-tap-highlight-color: rgba(255, 255, 255, 0);
	-webkit-tap-highlight-color: transparent;
}

::-moz-focus-outer,
::-moz-focus-inner {
	padding: 0;

	border: 0;
}

a {
	text-decoration: none;
}

:root {
	--primary: #EF3C40;
	--second: #5C78B1;
	--black: #000;
	--dark: #0B152C;
	--white: #FFF;
	--light: #DDD;
	--darkLight: #A3A3A3;
	--error: #FF1500;
	--banana: #FFC803;
	--font-family: 'komika-axis', sans-serif;
}
