.wrapper {
	display: grid;
	align-items: end;

	width: 100%;
	min-height: calc(100vh - 126px);
	padding: 24px 0;
	padding-bottom: 78px;
	justify-items: center;
	grid-template-rows: repeat(7, auto) 1fr;
	gap: 6px;
}

.tasksTitle1 {
	margin-bottom: 12px;
}

.tasksTitle2 {
	margin-top: 12px;
}

.tasksTitle3 {
	margin-top: 18px;
}

.tasksText {
	width: 85%;

	text-align: center;

	color: var(--darkLight) !important;

	font-family: "Comic Neue", serif !important;
}
