.wrapper {
	position: relative;

	display: grid;
	overflow: hidden;
	align-items: end;

	width: 100%;
	min-height: calc(100vh - 48px);
	padding: 24px 0;
	justify-items: center;
	grid-template-rows: repeat(2, auto) 1fr;
	gap: 36px;

	background: linear-gradient(180deg, var(--black) 0%, var(--dark) 100%) no-repeat;
}

.starsImage {
	position: absolute;
	z-index: 0;
	top: 0;
	left: 50%;

	width: 300%;
	height: fit-content;

	transform: translateX(-50%);
	object-fit: cover;
}

.profileDiv {
	display: grid;

	width: 100%;
	gap: 10px;
	padding-bottom: 78px;
}
