.taskItem {
	display: grid;
	align-items: center;

	width: calc(100% - 60px);
	padding: 20px 30px;

	border-radius: 40px;
	background: var(--modal);
	justify-items: left;
	grid-template-columns: 1fr auto;
	gap: 16px;
}

.missedText {
	color: var(--missedText);
}

.taskItemButton {
	justify-items: center;

	width: 80px !important;
	padding: 7px 5px;
}

.frameButton {
	padding: 12.5px 0 !important;
}

.errorButton {
	filter: brightness(0.6);
}
