.frensItem {
	display: grid;
	align-items: center;

	width: calc(100% - 40px);
	padding: 20px;

	border-radius: 40px;
	background: var(--modal);
	justify-items: left;
	grid-template-columns: auto 1fr auto;
	gap: 16px;
}

.frensImage {
	width: 47px;
	height: 47px;

	object-fit: cover;

	border-radius: 9999px;
}

.frensStatus {
	display: grid;
	align-items: center;

	color: var(--lightPrimary);

	font-family: "Comic Neue", serif !important;
	font-family: 700;
	gap: 7px;
	grid-template-columns: auto 1fr;
}

.verifiedStatus {
	color: var(--lightGreen);
}

.frensStatus > svg {
	width: 9.5px;
	fill: var(--lightPrimary);
}

.verifiedStatus > svg {
	fill: var(--lightGreen);
}
