.wrapper {
	display: grid;
	align-items: center;

	width: calc(100% - 48px);
	min-height: calc(100vh - 48px);
	padding: 24px;
	justify-items: center;
	grid-template-rows: 1fr auto;
	gap: 6px;
	justify-self: center;

	background: linear-gradient(180deg, var(--black) 0%, var(--dark) 100%) no-repeat;
}

.wrapper > h1 {
	text-align: center;
}
