.xxxl,
.xxl,
.xl,
.l,
.m,
.s,
.xs {
	width: fit-content;
	margin: 0;

	color: var(--white);

	font-family: var(--font-family);

	font-weight: 400;
	font-style: normal;
}

.xxxl {
	font-size: 80px;
}

.xxl {
	font-size: 60px;
}

.xl {
	font-size: 50px;
}

.l {
	font-size: 20px;
	line-height: 32px;
}

.m {
	font-size: 16px;
	line-height: 32px;
}

.s {
	font-size: 14px;
	line-height: 20px;
}

.xs {
	font-size: 8px;
	line-height: 12px;
}

@media (max-width: 300px) {
	.l {
		font-size: 16px;
	}
}
