.xxxl,
.xxl,
.xl,
.l,
.m,
.s,
.xs {
	width: fit-content;
	margin: 0;

	color: var(--white);

	font-weight: 400;
	font-style: normal;
}

.xxxl {
	font-size: 80px;
}

.xxl {
	font-size: 60px;
}

.xl {
	font-size: 50px;
}

.l {
	font-size: 40px;
}

.m {
	font-size: 26px;
}

.s {
	font-size: 18px;
}

.xs {
	font-size: 8px;
	line-height: 12px;
}
